.container {
  font-family: "DM Mono", monospace;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #f3f8fe;
  max-width: 600px;
  padding: 15px 15px;
  background-image: linear-gradient(to top, #f5f5f5 5%, #0183f8 45%);
  border-radius: 15px;
  border-width: 5px;
  border-color: gray;
  border-style: solid;
}

.searchCity {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

button {
  color: white;
  background: #ffba5f;
  border-radius: 10px;
  border: none;
  padding: 3px 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  transition: all ease-in-out;
}
button:hover {
  opacity: 85%;
  cursor: pointer;
}
h1 {
  color: white;
  display: block;
  font-weight: bold;
  font-size: 35px;
  margin: 18px 18px auto;
  padding: 10px;
}
h1:hover {
  text-decoration: underline;
}
h2 {
  color: white;
  font-size: 30px;
  font-style: bold;
}
h3 {
  text-align: center;
  color: white;
  font-size: 15px;
}
.forecast {
  font-weight: bold;
  color: white;
  font-size: 25px;
  text-decoration: underline;
}
.forecast:hover {
  text-decoration: underline;
}
.fiveDay {
  color: #ffba5f;
  background: ghostwhite;
  border-radius: 15px;
  margin: 18px 18px;
  padding: 27px;
  border-color: gray;
  border-style: solid;
  font-size: 14px;
  font-weight: bold;
}

p {
  color: #ffba5f;
  font-weight: bold;
  font-size: 15px;
  padding-top: 10px;
}

a {
  color: white;
}

.osc {
  color: #0184f8;
}
